body {
  background-color: #fff;
  margin: 0;
  background-image: url("car-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  align-items: center;
}
nav .logo {
  font-size: 30px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.content {
  font-size: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 88vh;
  justify-content: center;
  padding: 10px 100px;
  align-items: flex-start;
}

.content h1 {
  margin: 0;
}
.content a {
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 20px;
  border: non;
}
.services {
  height: 50vh;
  padding: 50px 100px;
  background-color: rgb(38, 37, 37);
  color: white;
}

.services .title {
  text-align: center;
  background-color: rgb(27, 102, 241);
  padding: 10px 100px;
  border-radius: 10px;
  width: 200px;
  margin: auto;
}
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 50px;
  margin-top: 100px;
}
.eachService {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 30px 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.27);
}

footer {
  background-color: white;
  padding: 0px 100px;
}

footer ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style: none;
}

footer strong {
  color: rgb(27, 102, 241);
}
